.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid #ff073a;
}

.recovered{
    border-bottom: 10px solid #28a745;
}

.deaths{
    border-bottom: 10px solid #6c757d;
}

@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}